.companyWrapper {
  width: 80%;
}

.cardHeader {
  margin-bottom: 20px;
}

.jobTechnologies {
  margin-bottom: 20px;
}

.posts {
  max-height: 890px;
  min-height: 890px;
  overflow-y: scroll;
}

.tehnologies {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 5px;
  max-height: 400px;
  overflow-y: scroll;
}

.informationsGrid {
  min-height: 700px;
  max-height: 1200px;
}

.cardHeaderName {
  margin-right: 100px;
}

@media screen and (min-width: 700px) {
  .cardHeader {
    display: flex;
  }

  @media screen and (min-width: 600px) {
    .cardHeader {
      display: flex;
    }
  }
}

/* .cardItem {
    cursor: pointer;
    margin-bottom: 15px;
  }
  
.cardItem:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  transform: translateY(5px);
  transition: 0.4s;
  animation: ease-in;
} */
