.companyWrapper {
  margin: 40px auto;
  padding: 0 20px;
}

.cardHeader {
  margin-bottom: 20px;
}

.heading {
  font-size: 18px;
}

.posts {
  max-height: 400px;
  min-height: 400px;
  overflow-y: scroll;
}

.jobTechnologies {
  margin-bottom: 20px;
}

.tehnologies {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5px;
  max-height: 400px;
  overflow-y: scroll;
}

.items {
  margin: 5px 5px;
}

.informationsGrid {
  min-height: 700px;
  max-height: 1200px;
}

.cardHeaderName {
  margin-right: 100px;
}

.cardItem {
  cursor: pointer;
  margin-bottom: 10px;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.cardItem:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  transform: translateY(5px);
  transition: 0.4s;
  animation: ease-in;
  background-color: rgb(83, 83, 83);
  color: white;
}

@media screen and (min-width: 960px) {
  .tehnologies {
    display: grid;
    grid-template-columns: 50% 50%;
    max-height: 400px;
    overflow-y: scroll;
  }

  .posts {
    max-height: 900px;
    min-height: 900px;
    overflow-y: scroll;
    padding: 5px;
    margin: 5px;
  }

  .cardHeader {
    display: flex;
  }
}
