.paginationContainer ul {
  list-style-type: none;
}

.searchBox {
  height: 40px;
  max-width: 400px;
  width: 100%;
  background-color: #fbfcfd;
  margin-bottom: 20px;
  color: #343741;
  padding: 0 12px;
  border: 1px solid #e7eaf1;
  border-radius: 6px;
}

.cardItem {
  margin-bottom: 15px;
  cursor: pointer;
}

.cardItem:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8);
  transform: scale(1.01);
}

.cardContent {
  list-style-type: none;
  padding-left: 0;
}
